@use "../core/" as *;

.main{
    gap: 2em;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    align-items: center;
    
    &__button{
        all: unset;
        background-color: $primarycolor;
        box-shadow: 0.5em 0.5em white;
        width: 100%;
        height: 3em;
        text-align: center;
        color: $textprimary;
        font-family: $fontprimary;
        padding: 1em;
    }
    &__content {
        background-color: white;    
        display: none;
    }
}
.findus {
    margin-top: 2em;
    color: $textprimary;
    &__title {
        font-family: $fontprimary;
        text-align: center;
    }
    &__info {
        font-family: $fontsecondary;
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
    }
}
