@use "../core/" as *;

.main{
    gap: 2em;
}
.dropdown {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    align-items: center;
    
    &__button{
        background-color: $primarycolor;
        box-shadow: 0px 1em 1em white;
        all: unset;
        background: $primarycolor;   
        width: 20em;
        height: 3em;
        text-align: center;
        font-family: $fontprimary;
        color: $textprimary;
            
        p {
            font-weight: bold;
        }
    }
    a {
        text-decoration: none;
    }
    &__content {
        background-color: white;
        display: none;

    }
}
    
