@use "../core/" as *;

.footer {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.420508) 58.85%,
    rgba(0, 0, 0, 0.307292) 83.33%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  width: 100%;
  //padding-right: 1em;
  &__text {
    color: $textprimary;
    font-family: $fontsecondary;
    margin: auto 0;
    opacity: 50%;
    padding: 1em;
  }
  &__facebook {
    width: 5%;
    height: 5%;
    margin: auto 0;
    padding: 1em;
  }
  &__instagram {
    width: 5%;
    height: 5%;
    margin: auto 0;
    padding: 1em;
  }
}

@media screen and (min-width: 820px) {
  .footer {
    &__facebook {
      width: 3%;
    }
    &__instagram {
      max-width: 3%;

    }
  }
}

@media screen and (min-width: 1000px) {
  
}
