@use "../core/" as *;

.infoboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    background-color: $primarycolor;
    max-width: 80%;

    &__title {
        font-family: $fontprimary;
        font-size: 1.5em;
        color: $textsecondary;
    }
    &__description {
        font-family: $fontsecondary;
        font-size: 1.3em;
        color: $textprimary;
        text-align: center;
        line-height: 1.7em; 
    }
    &__img {
        max-width: 15%;
        
    }
}

.buttondescription {
    font-size: 1em;
    text-align: center;
    color: $textprimary;
    font-family: $fontsecondary;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 20.8em;
    
}

.praktiskinfobutton {
    display: flex;
        .primary__button{
            justify-self: center;
        }
    
}
