@use "../core/" as *;

.infoboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.37em;

    background-color: $primarycolor;

    width: 23.5em;
    height: 20.5em;

    &__title {
        font-family: $fontprimary;
        font-size: 1.5em;
        color: $textsecondary;
        margin-top: 0.9em;
    }
    &__description {
        font-family: $fontsecondary;
        font-size: 1.3em;
        color: $textprimary;
        text-align: center;
        line-height: 1.7em;
        margin: 1.78em;
        margin-top: 0.9em;
    }




    &__img {
        width: 4.25em;
        
    }
}
