@use "../core/" as *;

.gallery {
    img{
        max-width: 100%;
    }

    &__wide{

    }
    &__gamenight{

    }
    &__lan{

    }
}

h2{
    color: $textprimary;
    font-family: $fontprimary;
    font-size: 0.93em;

}
h3{
    color: $textprimary;
    font-family: $fontprimary;
    font-size: 0.625em;
}