@use "../core/" as *;

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.630762) 58.85%, rgba(0, 0, 0, 0.460938) 83.33%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    .navbar {
        display: flex;
        
        &__logo {
            max-width: 10%;
            max-height: 1%;
        }
    }  
}



