@use "../core/" as *;

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.630762) 58.85%, rgba(0, 0, 0, 0.460938) 83.33%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    .navbar {
        display: flex;
        justify-content: space-between;
        
        &__logo {
            max-width: 10%;
        }
    .burger__checkbox {
        opacity: 0%;
    }
    .hidden {
        display: none;
    }
    }
    }
@media screen and (max-width: 1000px) {
        .navbar {
            &__logo {
                display: none;
            }
            &__searchbar {
                display: none;  
            }
        .menu {
            display: none;
        }
    }
} 


